@charset "UTF-8";

/*Estilo para telas */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
body{
    background-color:  lightblue;
}
header{
    background-color:#3498db9d ;
}
header > h1{
    text-align: center;  
}
menu ul{
    list-style-type:none ;
    background-color: #3498db9d;;
}
menu li{
    background-color: #174a6d;
    padding: 10px;
    text-align: center;
}
menu li a{
    text-decoration: none;
    color: white;
}
menu li:hover{
    background-color: #174b6d98;
}
span#burguer{
    background-color: #1e4b85;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    background-color: #174b6d98;
    color: black;
}
article{
    width: 700px;
    height: 700px;
    display: block;
    margin: auto;
    background-color: rgba(240, 233, 233, 0.918);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.377);
}
article p{
    font-size: 18px;
}
